/* line 5, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Book {
  perspective: 2200px;
}
/* line 8, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Book .Heidelberg-Page {
  transition: transform 0.9s ease;
}

/* line 16, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Book:not(.is-ready) * {
  transition: none !important;
}

/* line 19, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Book {
  transform-style: preserve-3d;
}
/* line 22, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Book:after {
  content: "";
  display: table;
  clear: both;
}

/* line 27, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Page {
  position: absolute;
  width: 50%;
  min-height: 100%;
  max-height: 100%;
  background: black;
  overflow: hidden;
  backface-visibility: hidden;
  transform: rotateY(0);
}

/* line 40, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Page:nth-child(2) {
  float: left;
  position: relative;
}

/* line 45, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Page:nth-child(even) {
  transform-origin: 100%;
  left: 0;
}

/* line 53, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Page:nth-child(odd) {
  transform-origin: 0;
  right: 0;
  transform: rotateY(-180deg);
}

/* line 72, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Page.is-active {
  z-index: 2;
}

/* line 77, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Page.is-active:nth-child(even) {
  transform: rotateY(10deg);
}
/* line 79, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Page.is-active:nth-child(even):hover {
  transform: rotateY(15deg);
}

/* line 82, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Page.is-active:nth-child(odd) {
  transform: rotateY(-10deg);
}
/* line 84, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Page.is-active:nth-child(odd):hover {
  transform: rotateY(-15deg);
}

/* line 88, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Page.is-active:nth-child(odd) ~ .Heidelberg-Page:nth-child(even) {
  transform: rotateY(180deg);
}

/* line 92, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Page.is-active:nth-child(odd) ~ .Heidelberg-Page:nth-child(odd) {
  transform: rotateY(0);
}

/* line 96, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Page.was-active {
  z-index: 1;
}

/* line 100, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Page.is-animating:nth-child(odd) {
  z-index: 4;
}

/* line 103, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Page.is-animating:nth-child(odd) ~ .Heidelberg-Page.is-animating {
  z-index: 3;
}

/* line 106, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Page.is-animating + .Heidelberg-Page:not(.is-animating):nth-child(odd) {
  z-index: 1;
}

/* line 111, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Book > .Heidelberg-Spread {
  display: none;
}

/* line 114, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Book > .Heidelberg-Spread:first-child {
  display: block;
  width: 100%;
  overflow: hidden;
}

/* line 120, ../sass/heidelberg/_heidelberg-plugin.sass */
.no-csstransforms3d .Heidelberg-Page {
  display: none;
}

/* line 123, ../sass/heidelberg/_heidelberg-plugin.sass */
.no-csstransforms3d .Heidelberg-Page.is-active {
  display: block;
  position: relative;
  float: left;
}

/* line 129, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Spread {
  position: relative;
  width: 200%;
}

/* line 133, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Page.with-Spread:nth-child(odd) .Heidelberg-Spread {
  left: -100%;
}

/* line 138, ../sass/heidelberg/_heidelberg-plugin.sass */
.no-csstransforms3d .Heidelberg-Page.with-Spread.is-active + .Heidelberg-Page.with-Spread.is-active .Heidelberg-Spread {
  left: -100%;
}

/* line 144, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Book[data-useragent*='MSIE 10.0'] .Heidelberg-Page {
  opacity: 0;
}
/* line 147, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Book[data-useragent*='MSIE 10.0'] .Heidelberg-Page.is-active {
  transition: transform 0.9s ease, opacity 0.9s ease;
  opacity: 1;
}
/* line 151, ../sass/heidelberg/_heidelberg-plugin.sass */
.Heidelberg-Book[data-useragent*='MSIE 10.0'] .Heidelberg-Page.was-active {
  transition-delay: 2s;
  transition: transform 0.9s ease, opacity 0.9s ease;
  opacity: 0;
}

/* line 1, ../sass/heidelberg/_heidelberg-skin.sass */
.Heidelberg-Book {
  width: 574px;
  max-width: 100%;
  height: 215px;
  margin: 0 auto 15px;
  background: #333;
}

/* line 9, ../sass/heidelberg/_heidelberg-skin.sass */
.Heidelberg-Book:not(.with-Spreads):before {
  content: "Click the cover to open";
  position: absolute;
  width: 50%;
  text-align: center;
  top: 50%;
  margin-top: -20px;
  line-height: 22px;
  font-size: 22px;
  color: #777;
}

/* line 20, ../sass/heidelberg/_heidelberg-skin.sass */
.Heidelberg-Book img {
  width: 100%;
}

/* line 5, ../sass/heidelberg/_heidelberg-plugin.sass */
#Heidelberg-example-2 {
  perspective: 700;
}
/* line 8, ../sass/heidelberg/_heidelberg-plugin.sass */
#Heidelberg-example-2 .Heidelberg-Page {
  transition: transform 2s ease-in-out;
}
